/* UNIVERSAL STYLES */
*{
    margin: 0;
    padding: 0;
}

/* BODY STYLES */
body{
    font-family: cursive;
    text-transform: capitalize;
}


/* Navbar styles */
.nav-bar {
    background-color: rgb(137, 137, 233);
    width: 100%;
}

/* logo styles */
.nav-bar .max-width {
    display: flex;
    padding: 1em;
    align-items: center;
    justify-content: space-between;
}

/* navigation items styles */
.nav-bar .list-items {
    display: flex;
}

.nav-bar .list-item {
    list-style-type: none;
    margin-right: 1.5em;
}

.nav-bar .list-item a {
    color: #fff;
    text-decoration: none;
}

.nav-bar .list-item i {
    margin-right: 5px;
}

